# cocoapod dependencies
MarkedDown/Pods/*

# xcode user files
MarkedDown/MarkedDown.xcodeproj/xcuserdata/*
MarkedDown/MarkedDown.xcworkspace/xcuserdata/*
MarkedDown/MarkedDown.xcodeproj/project.xcworkspace/xcuserdata/*
TempDirectory/TempDirectory.xcodeproj/project.xcworkspace/xcuserdata/*

.DS_Store
